main{
    text-align: center;
}
h1{
    margin-top: 2rem;
}
label{
    display: block;
    font-size: larger;
}
main input{
    margin-top: 1rem;
    /* border: none; */
    width: 10rem;
    font-size: medium;
    padding: 0.5rem;
    border-radius: 1rem;
}
main button {
    background-color: #a3e635;
    margin: 0.5rem;
    font-size: medium;
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
}
p{
    font-size: large;
}